# Connection to local LLM
ollama

# Character to token conversion
tiktoken

# Controlling Notion
notion_client

# Utulities
rich
dotenv
terminal-animation

## Browser use
playwright

# Then run 'playwright install chromium' to install the browser.
